name: CI
on: [push, pull_request]

## Inspired by https://github.com/simbleau/website
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies (BLAS, LAPACK)
        run: sudo apt update && sudo apt install -y libblas-dev liblapack-dev

      - name: Setup | Dependencies
        run: sudo apt update && sudo apt-get install -y libfontconfig1-dev libfontconfig1

      - name: Setup | Toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy,rustfmt

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Build | Clippy
        run: cargo clippy -- -D warnings

      - name: Build | Rustfmt
        run: cargo fmt --all -- --check

  check:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4
        
      - name: Install Dependencies (BLAS, LAPACK)
        run: sudo apt update && sudo apt install -y libblas-dev liblapack-dev

      - name: Setup | Rust
        uses: dtolnay/rust-toolchain@nightly

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Build | Check
        run: cargo check
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4
      
      - name: Install Dependencies (BLAS, LAPACK)
        run: sudo apt update && sudo apt install -y libblas-dev liblapack-dev
      - name: Setup | Rust
        uses: dtolnay/rust-toolchain@nightly

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Build | Tests
        run: cargo test